{% extends 'base.html' %}

{% block title %}
Обо мне
{% endblock %}

{% block content %}
<h3 class="h3">Краткие сведения обо мне:</h3>
<ul class="about">
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, tempore!</li>
    <li>Ab accusantium at eum id, nemo numquam quam ratione ut.</li>
    <li>Aperiam deleniti enim explicabo non provident sed similique tempore ut.</li>
    <li>Aliquam aperiam consectetur deserunt facere, optio quas reiciendis rerum veritatis.</li>
    <li>Ab ea nesciunt odit porro qui quod rerum sed voluptates?</li>
</ul>
{% endblock %}